[
    {rabbit, 
        [
            {cluster_nodes, 
                {
                    {{ rabbitmq_cluster_nodes }}, 
                    disc
                }
            }
        ]
    }
].
