[
    {rabbit, 
        [
            {cluster_nodes, 
                {
                    {{ rabbitmq_cluster_nodes.format("utf-8") }}, 
                    disc
                }
            }
        ]
    }
].
